.app-details {
  padding: 10px;
}

#delete, #edit {
  background-color: black;
  color: white;
  margin: 8px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  outline: 0;
  letter-spacing: .04em;
  transition: all .15s ease;
  cursor: pointer;
}
  
#delete:hover, #edit:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.1);
  transform: translateY(1px);
}

p{
  margin-top: 30px;
}

h1{
 font-size: 2em;
}

h1{
 text-align: center;
}

p{
  text-align: justify;
  overflow:auto;

}

div{
 text-align: justify;
 margin:0 auto;
 margin-top: 40px;
 width: 1000px;
 border-style: solid;
 background-color: rgb(146,146,146);
 padding: 5px;
}

#auth{
  float: left;
}

#date{
  float: right;
}

#delete{
  float: left;
}

#edit{
  float: right;
}

